# Скомпилированные файлы
*.o
*.elf
*.hex

# Файлы рабочего пространства IAR
*.wsdt
*.dep

# Временные файлы IAR
*.pbd
*.pbi
*.pbd
*.d
# Игнорировать папки, которые не должны быть частью репозитория
/Debug/
/Release/
